body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}
/*esstilos del Nav*/
nav{
	width: 100%;
	box-sizing: border-box;
	color: white;
	overflow: auto;
}
button{
	border-radius: 7px;
	background: none;
	padding: 7px;
	margin-right: 10px;
}
nav a{
	text-decoration: none;

	display: inline-block;
	width: 100px;
}
.contenedor-logos{
	width: 60%;
	float: left;
}
.contenedor-anclas{
	width: 40%;
	float: left;
	margin-top: 20px;
}
.div-logo{
	display: inline-block;
	width: 100px;
	height: 70px;
}
.oculto{

}
#log-in{
	border-color: white;
}
#sign-up{
	border-color: #FF00BF;
	color: #FF00BF;
}
/*estilos del header*/
header{
	position: relative;
	box-sizing: border-box;
	width: 100%;
}
video{
	width: 100%;
	height: 100%;
}
input{
	border: none;
	border-bottom: 2px solid #C7C2DD;
	margin-top: 10px;
	width: 100%;
}
h1{
	font-size: 3rem;
}
a{
	color: grey;
}
img[alt="error"]{
	position: absolute;
	visibility: hidden;
	width: 15px;
	height: 15px;
	bottom: 1px;
	right: 1px;
}
:focus{
	outline: none;
}
.text-small{
	font-size: 10px;
}
.div-input-oculto{
	margin-bottom: 10px;
	display: none;
}
.div-input{
	position: relative;
	margin-bottom: 10px;
}
#div-formulario{
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	background: white;
	padding: 50px 70px 20px 70px;
	box-sizing: border-box;
	width: 40%;
}
#btn-become{
	background: rgb(235, 0, 183);
	border: none;
	border-radius: 7px;
	padding: 10px;
	color: white;
	font-size: 16px;
	margin-top: 7px;
	margin-right: 7px;
}
/*Estilos de section Informacion*/
section{
	box-sizing: border-box;
	width: 100%;
}
img{
	height: 100%;
	width: 100%;
}
#informacion{
	background: linear-gradient(#76278F,#2B1E66);
	color: white;
	height: auto;
	overflow: auto;
	padding: 5% 10% 20px 10%;
}
.text-grande{
	font-size: 2em;
	margin: 0;
}
.div-seccion{
	display: inline-block;
	width: 50%;
	height: 450px;
	float: left;
	box-sizing: border-box;
	padding-right: 20px; 
}
.m0{
	margin: 0;
}
.mb3{
	margin-bottom: 3rem;
}
.mt3{
	margin-top: 3rem;
}
/*seccion videos*/
iframe{
	width: 100%;
	height: 500px;
}
.contenido-video{
	overflow: hidden;
	height: 500px;
	width: 100%;
}
.video-descripcion{
	box-sizing: border-box;
	float: left;
	width: 35%;
	padding: 2rem 3rem;
}
.div-video{
	box-sizing: border-box;
	float: left;
	width: 65%;
}
/*Estilos del footer*/
footer{
	width: 100%;
	box-sizing: border-box;
	background: #333447;
	color: white;
	padding: 3rem 4rem;
}
footer a{
	text-decoration: none;
	color: white;
	display: inline-block;
	width: 100%;
	font-size: 10px;
}
footer a:hover{
	color: #FF00BF;
}
.div-footer{
	overflow: auto;
}
.div-recursos{
	display: inline-block;
	float: left;
	width: 60%;
}
.seccion-recursos{
	display: inline-block;
	width: 30%;
}
.div-descargas{
	display: inline-block;
	float: left;
	width: 40%;
}
.contenido-descarga{
	width: 150px;
	height: 40px;
	margin: 20px 0;
}
.div-icons{
	border-bottom: 1px solid white;
	margin: 0 20%;
	text-align: center;
}
.div-icons span{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 30px;
}
.div-icons span:before{
	border-radius: 100%;
	border: 1px solid white;
	padding: 5px;
}
.text-center{
	text-align: center;
}
